.details-border-b {
    border-bottom: 2px solid #F6F7F7;
}

.car-details-holder {
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 58, 78, 0.05);
    border-radius: 5px;
}

.details-tab {
    border-bottom: 2px solid rgba(31, 42, 83, 0.15);
    cursor: pointer;
    transition: 0.3s;
}

.details-tab .active {
    border-bottom: 2px solid #D80739;
    color: #D80739;
}

.nav-border-t {
    border-top: 0.8px solid rgba(31, 42, 83, 0.15);
}

.detail-row {
    background: rgba(243, 247, 249, 0.5);
}

table.detail-table {
    border-spacing: 0em 0.3em;
}

table.overview-table {
    border-spacing: 0em 0.4em;
}

.detail-row td {
    border-radius: 3px;
}

.edit-holder {
    background: #FFFFFF;
    border: 0.5px solid rgba(13, 16, 27, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    height: 30px;
}

.edit-control::placeholder {
    color: rgba(13, 16, 27, 0.75);
    font-size: 0.75rem;
}


/* custom select style here */

label.detail {
    position: relative;
}

span.detail {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(31, 42, 83, 0.5);
    display: inline-block;
    border-radius: 3px;
    transition: all linear 0.3s;
}

span.detail:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    height: 8px;
    width: 4px;
    transform: rotate(45deg);
    visibility: hidden;
}

input.detail {
    display: none;
}

input.detail:checked~span {
    background: #07AD6B;
    border: 1px solid #07AD6B;
}

input.detail:checked~span:after {
    visibility: visible;
}

.auction-ellipse {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    height: 210px;
    width: 216px;
}

.spiral {
    border: 2px solid #2C88DE;
    border-radius: 50%;
    height: 210px;
}


/* Vehicle detail styles here */

.vehicle-details {
    background: rgba(243, 247, 249, 0.15);
}


/* Overview styles here */

.overview-section {
    background-color: #FDFEFF;
}

.overview-tab {
    cursor: pointer;
    transition: 0.3s;
}

.overview-tab.active {
    border-bottom: 3px solid #2c88de;
}

.overview-tab.active::after {
    /* content: url('../img/vectors/polygon.svg'); */
    position: absolute;
}


/* COUNTDOWN STYLES HERE */

.set-size {
    font-size: 10em;
    margin: auto;
    font-size: 12em;
    left: 12px;
    top: 8px;
}

.pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 1px;
    position: relative;
}


/* Purple cover here  */

.pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.1em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
}


/* Grey background here */

.pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.025em solid #DBEAF9;
    border-radius: 50%;
}


/* Purple color */

.pie-wrapper.progress-75 .pie .half-circle {
    border-color: #2D89DE;
}


/* Rotate angle */

.pie-wrapper.progress-75 .pie .left-side {
    transform: rotate(270deg);
    border: 0.025em solid #2D89DE;
}

.pie-wrapper.progress-75 .pie .right-side {
    transform: rotate(180deg);
    border: 0.025em solid #2D89DE;
}

.auction-pill {
    background: #D80739;
    border-radius: 10px
}


/* SImilar cars styles here */

.similar-cars-holder {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 1px rgba(31, 42, 83, 0.03);
    border-radius: 5px;
}


/* Bids dropdown style here */

.bids-dropdown-holder {
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 3px 3px;
    width: 92%;
    top: 70px;
    left: 55px;
    z-index: 99999999;
    transition: 0.3s;
}

.bids-border-b {
    border-bottom: 0.5px solid #E3E4E9
}


/* Timer styles here */

.countdown {
    color: rgba(31, 42, 83, 0.75);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 11px;
}

.timer {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 186px;
    height: 186px;
    border-radius: 50%;
    text-align: center;
    padding-top: 1.5rem;
}

.carBG {
    width: 273px;
    height: 164px;
}

.css-2b097c-container {
    height: 24px !important;
}
.css-yk16xz-control  {
    min-height: 24px !important;
    height: 24px !important;
    align-content: center !important;
}
.css-yk16xz-control .css-1wa3eu0-placeholder {
    top: 50% !important;
}
.css-1pahdxg-control {
    min-height: 24px !important;
    height: 24px !important;
    align-content: center !important;
    box-shadow: none !important;
}
.css-1pahdxg-control .css-1wa3eu0-placeholder {
    top: 50% !important;

}
.css-g1d714-ValueContainer {
    height: 24px !important;
    align-content: center !important;
}
.css-1wa3eu0-placeholder {
    font-size: 10px !important;
    color: rgba(13, 16, 27, 0.75) !important;
}
.css-1pahdxg-control:hover {
    border-color: rgba(13, 16, 27, 0.25) !important;
}

.css-t0fuvl {
    padding: initial !important;
    border-radius: initial !important;
    border-width: initial !important;
    box-shadow: none !important;
    font-style: initial !important;
    font-weight: initial !important;
    font-size: initial !important;
    line-height: initial !important;
    -webkit-align-items: initial !important;
    -webkit-box-align: initial !important;
    -ms-flex-align: initial !important;
    align-items: initial !important;
    box-sizing: initial !important;
    border-color: transparent !important;
}

@media (min-width: 1024px) {
    #carDeets{
        padding-left: 69px;
        padding-right: 69px;
    }
}

/* .progress-ring {
    width: 100%;
} */

.progress-ring__circle {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    stroke: #3341ff;
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    border: 1px solid #0c74d4;
    border-radius: 50%;
}

.track {
    stroke: rgba(12, 116, 212, 0.15);
    fill: none;
}

.progress {
    fill: none;
    stroke: #0c74d4;
    stroke-width: 5;
    stroke-dasharray: 630;
    stroke-dashoffset: 60;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}

.timer-container {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 50%;
}

@media (max-width: 575.98px) {
    .bids-dropdown-holder {
        left: 18px;
    }


}

@media (min-width: 576px) and (max-width: 767.98px) {
    .bids-dropdown-holder {
        left: 18px;
    }


}
@media (min-width: 1024px) {
    .car-details-holder {
        width: 32%;
    }

}

.overview-section .overview-table {
    width: 450px;
}


